<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">new product</a>
</p>

<p>
    <input type="text" class="form-control" placeholder="serach ....." #query (keyup)="filter(query.value)" />
</p>

<table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="thead-dark">
        <tr>
            <th scope="col">title</th>
            <th scope="col">price</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProduct">
            <td>{{ product.payload.val().title }}</td>
            <td>{{ product.payload.val().price }}</td>
            <td>
                <a [routerLink]="['/admin/products/', product.key]">Edit </a>
            </td>
        </tr>
    </tbody>
</table>
