<navbar class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="Home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="shopping-card">Shopping Card </a>
            </li>

            <ng-template #anonymousUser>
                <div>
                    <a class="nav-link" routerLink="/login"> login</a>
                </div>
            </ng-template>

            <li ngbDropdown *ngIf="service.user$ | async as user; else anonymousUser" class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.displayName }}
        </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="MyOrders">My orders</a>
                    <a class="dropdown-item" routerLink="products">Manage Orders</a>
                    <a class="dropdown-item" routerLink="admin/products">Manage products</a
          >

          <button (click)="logout()" class="dropdown-item">Log Out</button>
        </div>
      </li>
    </ul>
  </div>
</navbar>