.dropdown-toggle {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.navbar-brand {
    padding-left: 20px;
}

body {
    min-height: 75rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}